[versions]
alchemist = "34.0.6"
build-config = "5.3.5"
coroutines = "1.8.1"
dokka = "1.9.20"
kotest = "5.9.0"
kotlin = "1.9.24"

[libraries]
alchemist-api = { module = "it.unibo.alchemist:alchemist-api", version.ref = "alchemist" }
alchemist = { module = "it.unibo.alchemist:alchemist", version.ref = "alchemist" }
apache-commons-codec = "commons-codec:commons-codec:1.17.0"
arrow = "io.arrow-kt:arrow-core:1.2.4"
caffeine = "com.github.ben-manes.caffeine:caffeine:3.1.8"
javap = "com.perfma.wrapped:com.sun.tools:1.8.0_jdk8u275-b01_linux_x64"
kotest-assertions-core = { module = "io.kotest:kotest-assertions-core", version.ref = "kotest" }
kotest-framework-engine = { module = "io.kotest:kotest-framework-engine", version.ref = "kotest" }
kotest-framework-datatest = { module = "io.kotest:kotest-framework-datatest", version.ref = "kotest" }
kotest-runner-junit5-jvm = { module = "io.kotest:kotest-runner-junit5-jvm", version.ref = "kotest" }
kotlin-compiler-embeddable = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-scripting-compiler-embeddable = { module = "org.jetbrains.kotlin:kotlin-scripting-compiler-embeddable", version.ref = "kotlin" }
kotlin-scripting-jvm = { module = "org.jetbrains.kotlin:kotlin-scripting-jvm", version.ref = "kotlin" }
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test", version.ref = "kotlin" }
kotlin-test-common = { module = "org.jetbrains.kotlin:kotlin-test-common", version.ref = "kotlin" }
kotlin-test-annotations-common = { module = "org.jetbrains.kotlin:kotlin-test-annotations-common", version.ref = "kotlin" }
kotlin-gradle-plugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlinx-coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
slf4j = "org.slf4j:slf4j-api:2.0.13"

[bundles]
kotlin-compiler = [
    "kotlin-compiler-embeddable",
    "kotlin-scripting-compiler-embeddable",
    "kotlin-scripting-jvm",
]
kotlin-testing-common = [
    "kotest-assertions-core",
    "kotest-framework-engine",
    "kotest-framework-datatest",
    "kotlin-test",
    "kotlin-test-common",
    "kotlin-test-annotations-common",
]
alchemist = [
    "alchemist",
    "alchemist-api",
]

[plugins]
build-config = { id = "com.github.gmazzo.buildconfig", version.ref = "build-config" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
gitSemVer = "org.danilopianini.git-sensitive-semantic-versioning:3.1.6"
gradlePluginPublish = { id = "com.gradle.plugin-publish", version = "1.2.1" }
kotest = { id = "io.kotest.multiplatform", version.ref = "kotest" }
kotlin-multiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref = "kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-qa = "org.danilopianini.gradle-kotlin-qa:0.62.0"
kover = "org.jetbrains.kotlinx.kover:0.7.6"
multiJvmTesting = "org.danilopianini.multi-jvm-test-plugin:0.5.8"
publishOnCentral = "org.danilopianini.publish-on-central:5.1.1"
taskTree = "com.dorongold.task-tree:3.0.0"
