name: CI/CD Pipeline

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check-secrets:
    runs-on: ubuntu-24.04
    outputs:
      run-with-secrets: ${{ steps.require-secrets.outputs.run-with-secrets }}
    steps:
      - name: Find if secrets are available
        id: detect-secrets
        uses: DanySK/are-secrets-available@1.0.0
        with:
          secrets: ${{ toJson(secrets) }}
      - name: Set condition
        id: require-secrets
        run: |
          echo "run-with-secrets=${{ steps.detect-secrets.outputs.has-secrets == 'true' && !github.event.repository.fork }}" >> $GITHUB_OUTPUT

  precompute-next-version:
    runs-on: ubuntu-24.04
    outputs:
      next-version: ${{ steps.compute-next-version.outputs.next-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Compute next release version
        id: compute-next-version
        uses: nicolasfara/precompute-semantic-release-version-action@2.0.2
        with:
          github-token: ${{ github.token }}

  staging-repo:
    runs-on: ubuntu-24.04
    needs:
      - check-secrets
    if: needs.check-secrets.outputs.run-with-secrets == 'true'
    outputs:
      staging-repo-id: ${{ steps.create-staging-repo.outputs.staging-repo-id }}
    steps:
      - id: create-staging-repo
        name: Create a staging repository
        uses: danysk/action-create-ossrh-staging-repo@1.1.0
        with:
          group-id: "it.unibo.collektive"
          maven-central-username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

  build:
    needs:
      - check-secrets
      - precompute-next-version
      - staging-repo
    if: "!cancelled() && !contains(needs.precompute-next-version.result, 'failure')"
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2022, macos-14, ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - uses: DanySK/build-check-deploy-gradle-action@3.7.5
        with:
          check-command: |
            ./gradlew check koverXmlReport :compiler-plugin:check :gradle-plugin:check --parallel
          should-deploy: ${{ runner.os == 'macOS' && needs.check-secrets.outputs.run-with-secrets == 'true' }} # Deploy from macOS since it supports all the platforms
          deploy-command: |
            NEXT_VERSION="${{ needs.precompute-next-version.outputs.next-version }}"
            OVERRIDE_VERSION=$([[ "$NEXT_VERSION" != "" ]] && echo "-PforceVersion=$(echo $NEXT_VERSION)" || echo "")
            # Compute all tasks to be executed
            projects=( "" ":compiler-plugin:" ":gradle-plugin:" )
            tasks=( "uploadAllToMavenCentralNexus" )
            GRADLE_TASKS=()
            for p in "${projects[@]}"; do
              for t in "${tasks[@]}"; do
                GRADLE_TASKS+=( "$p$t" )
              done
            done
            ./gradlew $OVERRIDE_VERSION -PstagingRepositoryId=${{ needs.staging-repo.outputs.staging-repo-id }} "${GRADLE_TASKS[@]}"
            ./gradlew -PstagingRepositoryId=${{ needs.staging-repo.outputs.staging-repo-id }} closeStaging
          should-run-codecov: ${{ runner.os == 'Linux' }}
          codecov-directory: build/reports/kover
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          maven-central-username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          signing-key: ${{ secrets.GPG_PRIVATEKEY }}
          signing-password: ${{ secrets.GPG_PASSPHRASE }}
      - uses: github/codeql-action/upload-sarif@v3.28.5
        if: always() && runner.os == 'Linux'
        with:
          sarif_file: build/reports/merge.sarif

  build-website:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4.2.2
        with:
          submodules: true
          fetch-depth: 0
      - name: Install Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version-file: site/package.json
      - name: Build documentation website
        working-directory: site
        run: |
          npm install
          npm run build
      - name: Tar files
        run: tar -cvf website.tar site/build
      - name: Upload website
        uses: actions/upload-artifact@v4.6.0
        with:
          name: website-${{ github.sha }}
          path: website.tar

  release:
    needs:
      - check-secrets
      - staging-repo
      - build-website
      - build
    runs-on: ubuntu-24.04
    # Prevent the release job if the run is on a PR or a fork
    if: ${{ needs.check-secrets.outputs.run-with-secrets == 'true' }}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
      - name: Checkout the docs
        if: contains(github.repository, 'Collektive/collektive')
        uses: actions/checkout@v4.2.2
        with:
          path: deployed-website
          fetch-depth: 0
          persist-credentials: true
          repository: Collektive/collektive.github.io
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
      - name: Download website artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: website-${{ github.sha }}
      - name: Unpack website
        run: |
          tar -xvf website.tar
          mv deployed-website/.git site/build
          git -C site/build status
      - name: Install Node
        uses: actions/setup-node@v4.1.0
        with:
          node-version-file: package.json
      - uses: DanySK/build-check-deploy-gradle-action@3.7.5
        env:
          STAGING_REPO_ID: ${{ needs.staging-repo.outputs.staging-repo-id }}
          ORG_GRADLE_PROJECT_releaseStage: true
        with:
          retries-on-failure: 1 # Fail fast during release
          build-command: true
          check-command: true
          deploy-command: |
            npm install
            npx semantic-release
          should-run-codecov: false
          should-deploy: true
          github-token: ${{ github.token }}
          maven-central-username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          gradle-publish-secret: ${{ secrets.GRADLE_PUBLISH_SECRET }}
          gradle-publish-key: ${{ secrets.GRADLE_PUBLISH_KEY }}
          signing-key: ${{ secrets.GPG_PRIVATEKEY }}
          signing-password: ${{ secrets.GPG_PASSPHRASE }}

  drop-staging-repo:
    needs:
      - staging-repo
      - release
    runs-on: ubuntu-24.04
    if: always() && !(contains(needs.staging-repo.result, 'failure') || contains(needs.staging-repo.result, 'cancelled'))
    steps:
      - name: Drop staging repository
        uses: danysk/action-drop-ossrh-staging-repo@1.0.3
        with:
          repo-id: ${{ needs.staging-repo.outputs.staging-repo-id }}
          maven-central-username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          maven-central-password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}

  success:
    runs-on: ubuntu-latest
    needs:
      - check-secrets
      - release
      - build
      - build-website
    if: >-
      ${{
        always() && (
          contains(join(needs.*.result, ','), 'failure')
          || !contains(join(needs.*.result, ','), 'cancelled')
        )
      }}
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
